.section-content-wrapper {
   display: flex;
   margin-top: 1.44em 0;
   margin-bottom: 4em;
}

.section-title-left {
    margin-right: 1.44em;
}

.section-img {
   width: 11em;
   height: 13.44em;
}


/* Mobile styles for responsive design */

@media screen and (max-width: 600px) {

    .section-content-wrapper {
        flex-direction: column;
    }

    .section-title-left {
        margin: 0;
    }

    .section-img {
        height: 30vh;
        width: 100%;
    }
    
}